[submodule "submodules/glfw"]
	path = submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "submodules/glew"]
	path = submodules/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "submodules/soil"]
	path = submodules/soil
	url = git@github.com:kbranigan/Simple-OpenGL-Image-Library.git
